@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;

}
.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
}
input{
    display: block;
    background-color: white;
}
.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
   padding: 20px 40px;
   background-color: #ffffffcc;
   border-radius: 8px;
   border: 2px solid black;
   margin-bottom: 6px;
    
}

#button{
    margin-top: 6px;
    padding: 8px;
    color: white;
    background-color: rgb(70, 62, 185);
    border-radius: 6px;
    letter-spacing: 4px;
    font-family: monospace;
    border: none;
}

#button:hover{
    background-color: lightgray;
}
.circle{
    width: 200px;
    height: 200px;
    background: linear-gradient(to top right, #ffffff33, #ffffffff);
    border-radius: 100px;
    position: absolute;
}
.c1{
    top: 100px;
    left: 40px;
}
.c2{
    bottom: 200px;
    right: 50px;
}